<div class="hero-container">
  <h1>Welcome to CSE Motors!</h1>
  <img src="/images/vehicles/delorean.jpg" alt="delorean car" />
  <div class="info-hero-container">
    <h2>DMC Delorean</h2>
    <p>
      3 cup holders <br />
      Superman doors <br />
      Fuzzy dice!
    </p>
    <div class="center">
      <button>Own today</button>
    </div>
  </div>
</div>

<div>
  <div></div>
  <div></div>
</div>
