/******* Change Box Model ***************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  /* Colors */
  --white-color: #ffff;
  --black-color: #252422;
  --background-color: #fffafa;

  /* fonts */
  --paragraph-font: "Montserrat", sans-serif;
  --font-size: 18px;
  --font-movile-size: 12px;
}
/******* General styles ***************/
body {
  background: url("../images/site/small_check.jpg");
  background-size: cover;
  margin: 2%;
  font-family: var(--paragraph-font);
  text-align: center;
}
.wrapper-container {
  border-radius: 8px;
  border: 5px solid #219ebc;
  background-color: var(--background-color);
  max-width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 38px;
}
p {
  font-size: var(--font-size);
}
br {
  background-color: var(--background-color);
}
/******* Header ***************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}
.siteName a {
  font-size: 38px;
  font-weight: 900;
  margin-left: 5px;
  color: var(--black-color);
}
.siteName a:hover {
  text-decoration: none;
}
.call-to-action {
  font-size: var(--font-size);
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 500;
}
/******* Nav ***************/
.nav-container {
  background-color: var(--black-color);
  height: 50px;
  display: flex;
  align-items: center;
  margin: 2%;
}
.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
.nav-container a {
  color: var(--white-color);
  font-size: var(--font-size);
}
/******* Footer ***************/
footer p {
  font-size: var(--font-size);
  text-align: left;
  margin-left: 2%;
}
/******* Hero ***************/
.hero-container {
  position: relative;
  font-style: italic;
}
.hero-container button {
  font-weight: 900;
  margin-top: 3%;
  padding: 15px 40px;
  color: var(--white-color);
  background-color:#0c6f88;
  cursor: pointer;
}
.hero-container img {
  margin-top: 3%;
  width: 67%;
}
.hero-container h1 {
  text-align: left;
  margin-left: 4%;
}
.info-hero-container {
  display: grid;
  place-content: center;
  background-color: rgba(2, 48, 71, 0.9);
  color: var(--white-color);
  border-radius: 5px;
  width: 250px;
  height: 300px;
  position: absolute;
  bottom: 12%;
  left: 12%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/******* Upgrades / reviews ***************/
.cars-info {
  margin: 10% 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
}
.cars-info img {
  width: 60px;
}
.cars-info section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cars-info ul {
  width: fit-content;
  text-align: left;
  font-style: italic;
}
.cars-info li {
  margin: 10px;
}
.upgrades-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 600px;
}
.upgrades-div .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.upgrades-div div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: calc(50% - 5px);
}
.upgrades-div a,
.upgrades-div {
  margin-top: 20px;
  color: var(--black-color);
}
/******* Grid ***************/
#inv-display {
  list-style: none;
  margin: 4%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}
#inv-display li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
#inv-display li img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 5px;
  border-bottom: 4px solid #333; 
}
.namePrice {
  text-align: center;
}
.namePrice h2 {
  font-size: 1.2em;
  margin-top: 10px;
}
.namePrice span {
  display: block;
  font-size: 1.1em;
  color: #333;
  margin-top: 5px;
}
/******* Media ***************/
@media only screen and (max-width: 1366px) {
  .info-hero-container {
    width: 200px;
    height: 250px;
    bottom: 7%;
    left: 7%;
  }
  .cars-info {
    flex-direction: column;
    align-items: center;
    margin: 15% 0;
    width: 100%;
  }
  .cars-info section {
    margin-bottom: 5%;
  }
  .cars-info {
    margin: 30% 0;
  }
}
@media only screen and (max-width: 900px) {
  .info-hero-container {
    bottom: -3%;
    left: 4%;
  }
  .cars-info {
    margin: 30% 0;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper-container {
    max-width: 100%;
  }
  .nav-container {
    height: 30px;
    margin: 0;
  }
  .siteName a {
    font-size: 18px;
  }
  .call-to-action,
  .nav-container a {
    font-size: var(--font-movile-size);
  }
  h1 {
    font-size: 18px;
  }
  p,
  h2 {
    font-size: var(--font-movile-size);
  }
  .hero-container img {
    width: 50%;
  }
  .info-hero-container {
    width: 100px;
    height: fit-content;
    top: 20%;
    left: 5%;
  }
  .hero-container button {
    padding: 5px 10px;
    font-size: 10px;
  }
  .upgrades-div {
    width: 400px;
  }
  .cars-info {
    margin: 55% 0;
  }
  .cars-info h2 {
    font-size: 18px;
  }
  .cars-info section {
    width: 100%;
  }
  #inv-display {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media only screen and (max-width: 400px) {
  .cars-info {
    margin: 70% 0;
  }
}
