<% if (title) { %>
<div class="hero-delorean">
  <div class="hero-delorean-text">
    The DeLorean from DMC: It's our specialty.
  </div>
</div>
<h1><%= title %></h1>
<%- grid %> <% } else { res.redirect('/') } %>
