<% if (title) { %>
<h1><%= title %></h1>
<p style="font-style: italic">
  In CSE Motors we care for each client in an invidual way! <br />One of our
  agents will contact you.<br />
  Faced with any questions, it can be committed to <br />
  <strong>+54 9 341 2793916</strong> or via mail to
  <strong>cse210@motors.org</strong>
</p>
<br />
<img
  style="max-width: 100%; height: auto; border-radius: 24px"
  src="https://fbi.cults3d.com/uploaders/13311302/illustration-file/fd57b1fe-0283-41e3-9c50-58fbcd5993f1/Gif-Delorean-2-low.gif"
  alt="GIF"
/>
<br />
<% } else { res.redirect('/') } %>
